.events {
  --list-width: 100%;
  --li-title-width: 100%;
  --li-venue-width: 100%;
  --li-time-width: 100%;

  .page-header {
    z-index: 1;
    h1 {
      font-size: 9rem;
      color: #9ff7ff;
    }
    @media screen and (max-width: 699px) {
      height: 100vh;
    }

    @media (max-width: 1200px) {
      height: 90vh;
    }

    @media (max-width: 699px) {
      h1 {
        font-size: 4rem;
      }
      height: 80vh;
    }
  }

  .header-btn-wrapper {
    width: 100%;
    height: 8rem;
    margin: 0;
    flex-shrink: 0;

    @media screen and (min-width: 800px) {
      width: calc((100vw - 9.375rem) * 3 / 14 + 1.875rem);
      position: absolute;
      bottom: 2.2rem;
      right: 0;
    }
  }

  .header-subtitle {
    color: #5df0fe;
    font-family: "Antonio", sans-serif;
    letter-spacing: -0.15ch;
    line-height: 1;
    text-transform: uppercase;

    > h2 {
      font-size: 8.5vw;
    }

    > div {
      font-size: 2rem;
    }

    @media screen and (max-width: 999px) {
      > h2 {
        font-size: 12vw;
      }
    }

    @media screen and (max-width: 699px) {
      > h2 {
        font-size: 10vw;
      }
    }
  }

  .main-content {
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .schedule-nav {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 0.625rem;
    margin-bottom: 2.5rem;

    .tabs {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      width: var(--list-width);

      .tab {
        flex: 1;
        overflow: hidden;

        .tab-btn {
          display: block;
          text-align: center;
          color: 5df0fe;
          background-color: white;
          line-height: 1.2;

          width: 100%;
          height: 100%;
          font-size: 4.0625rem;
          font-weight: 700;
          border: none;
          overflow: hidden;
          transition: 0.1s ease-out;
        }

        .tab-btn:hover {
          cursor: pointer;
          color: #2e9fad;
        }

        @media screen and (max-width: 699px) {
          .tab-btn {
            font-size: 8vw;
          }
        }
      }

      .tab:first-child {
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
      }

      .tab:last-child {
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
      }

      .tab.active > .tab-btn {
        background-color: #2e9fad;
        color: white;
      }
    }
  }

  .event-list-wrapper {
    position: relative;
    overflow: visible;

    .event-list {
      list-style-type: none;

      .event-li {
        position: relative;
        display: flex;
        user-select: none;

        .event-li-inner {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          flex-wrap: wrap;
          width: var(--list-width);
          min-width: 100%;
          overflow: hidden;
          padding: 2.5rem 0.625rem 0.4375rem 0.625rem;
          z-index: 1;
          font-size: 1.3125rem;
          font-weight: 700;
          line-height: 1.04;
          .time {
            transition: 0.3s cubic-bezier(0.86, 0, 0.07, 0.995);
          }

          .title {
            order: 2;
            width: var(--li-title-width);

            p {
              font-size: 0.8rem;
              margin-bottom: 0.25rem;
              color: black;
            }
            .closed {
              color: #777;
            }

            h4 {
              font-size: inherit;
              font-weight: inherit;
              line-height: 1.04;
            }
          }

          .venue {
            order: 3;
            width: var(--li-venue-width);
            text-align: right;
          }

          .time {
            font-family: "Roboto", sans-serif;
            order: 1;
            width: var(--li-time-width);
            color: #2e9fad;
            margin-right: 1.2rem;
          }
        }

        .event-li-inner::before {
          content: "";
          position: absolute;
          bottom: 0;
          background-color: #cccbcb1f;
          width: 100%;
          height: 0;
          transition: 0.3s cubic-bezier(0.86, 0, 0.07, 0.995);
          pointer-events: none;
        }

        .event-li-inner:hover {
          .time {
            color: #222;
          }
        }
        .event-li-inner:hover::before {
          height: 100%;
        }

        @media (hover: none) {
          .event-li-inner::before {
            display: none;
          }
        }
      }

      .event-li::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        border-bottom: 1px solid #bcbcbc;
        opacity: 0.5;
        pointer-events: none;
        z-index: 1;
      }
    }
    .event-figures {
      --card-width: calc((100vw - 9.375rem) * 3 / 14 + 1.875rem);
      pointer-events: none;
      position: fixed; /* Changed to fixed to stay relative to the viewport */
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: none;
      z-index: 4;

      .current-figure {
        position: absolute;
        bottom: 0;
        width: var(--card-width);
        height: 0;
        opacity: 0;
        transition: 0.25s ease-out height, 0.5s ease-in-out opacity;

        .img-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top-right-radius: 3rem;
          overflow: hidden;

          img {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .current-figure.active {
        height: var(--card-width);
        opacity: 1;
      }
    }
  }

  @media (min-aspect-ratio: 1 / 1) and (min-width: 1000px) {
    --list-width: calc(100vw - (100vw - 9.375rem) * 4 / 14 + 1.875rem);
    --li-title-width: calc((100vw - 9.375rem) * 4 / 14 + 3.125rem);
    --li-venue-width: calc((100vw - 9.375rem) * 3 / 14 + 1.875rem);
    --li-time-width: calc((100vw - 9.375rem) * 3 / 14 + 1.25rem);

    .event-list-wrapper {
      .event-list .event-li-inner {
        justify-content: flex-start;
        padding-left: calc((100vw - 9.375rem) * 4 / 14 + 3.125rem);
        margin-left: -0.625rem;
      }
      .event-figures {
        display: flex;
      }
    }
  }

  @media (max-aspect-ratio: 1 / 1), (max-width: 999px) {
    .event-list-wrapper .event-list .event-li .event-li-inner {
      font-size: 1.2rem;
      .venue {
        text-align: left;
        font-weight: 400;
        font-size: 1rem;
      }
      .title {
        padding-top: 1rem;
        padding-bottom: 0.625rem;
        text-align: left;
      }
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Darker overlay for focus */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Background blur effect */
}

.popup-content {
  background: rgba(255, 255, 255, 0.15); /* Glassmorphism background */
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  max-height: 70vh;
  overflow-y: auto;
  width: 90%;
  position: relative;
  backdrop-filter: blur(10px) saturate(180%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff; /* White text for contrast */
  font-family: "Antonio", sans-serif;
  animation: fadeIn 0.4s ease-in-out; /* Fade-in animation */
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  color: #ff6347; /* Bright color for visibility */
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;

  &:hover {
    color: #ff4500;
    transform: scale(1.1); /* Slight scale on hover */
  }
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ff9e00; /* Distinct color for title */
  animation: titlePop 0.4s ease forwards;
}

@keyframes titlePop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

p {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.1rem;
}

strong {
  color: #ffe47a;
  font-weight: 600;
}

.popup-content .description {
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
}

@media (max-width: 768px) {
  .popup-content {
    max-width: 90%;
    padding: 20px;
    font-size: 0.9rem;
  }
}

.scroll-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: #cccccc;
}

.scroll-indicator:before {
  content: "Scroll for more";
  position: absolute;
  top: -10px;
  animation: fadeIn 0.8s ease-in-out infinite alternate;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  overflow: hidden;
  z-index: 0; // Ensures video stays behind other content
}

.background-video {
  width: 100%;
  height: 100%;
  @media (max-width: 900px) {
    height: 80vh;
  }
  object-fit: cover;
}

.search-bar {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px) saturate(180%);
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 8px 32px rgba(31, 38, 135, 0.37);
  transition: all 0.3s ease;
  animation: float 6s ease-in-out infinite;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.search-input {
  flex-grow: 1;
  padding: 0.75rem 1rem 0.75rem 2.5rem; /* Extra padding for icon */
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  color: #27b7c1;
  background: transparent;
  outline: none;
  transition: all 0.3s ease;

  &::placeholder {
    color: #13EEFF;
    opacity: 0.8;
  }

  &:hover,
  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
  }
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  font-size: 1.2rem;
  color: #d1d1d1;
  pointer-events: none;
  transition: color 0.3s ease;
}

.search-input:focus ~ .search-icon {
  color: #ffffff;
}
