.carousel {
  position: relative;
  cursor: none;
  --card-width: 30%;
  background-color: #1c1c1c;

  .c-cards-wrapper {
    display: flex;
    justify-content: center;
    transform: translate3d(calc(var(--card-width) / 2), 0, 0);
    transition: transform 0.3s;

    .card-wrapper {
      padding: 0.3125rem;
      width: 350px;
      height: 500px;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;
      transition: transform 0.3s ease-in-out;

      .card {
        display: flex;
        flex-direction: column;
        height: 100%;

        .card-visual {
          flex-grow: 1;
          position: relative;
          border-top-right-radius: 3rem;
          overflow: hidden;
          background-color: #1c1c1c;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
          }
        }

        .card-content {
          margin-top: 1.25rem;
          padding: 16px;
          text-align: center;

          .card-heading {
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 0.625rem;
            color: #7CF5FF;
          }

          .card-position {
            font-size: 1em;
            margin: 4px 0;
            color: #fff;
          }

          .card-footer {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              white-space: nowrap;
            }

            .role,
            .sep {
              margin-right: 0.625rem;
              font-size: 0.75rem;
              font-weight: 700;
            }

            .sep::after {
              content: "/";
            }
          }

          .card-links {
            a {
              margin: 0 0.5rem;
              color: #3887BE;
              font-size: 1.25rem;

              &:hover {
                color: var(--hover);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    --card-width: 60%;
  }

  @media (max-width: 699px) {
    --card-width: 80%;
  }

  .mobile-arrows {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    justify-content: space-between;

    .dir {
      cursor: pointer;
    }

    @media (hover: none) {
      display: flex;
    }
  }

  .c-gallery-cursor {
    position: absolute;
    width: 5rem;
    height: 5rem;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
    z-index: 100;

    svg {
      fill: white;
      width: 100%;
      height: 100%;
    }

    &.-visible {
      opacity: 1;
    }

    &.-rotate {
      transform: rotate(180deg);
    }
  }
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent; // Background of the button
  border: none; // No border
  cursor: pointer;
  font-size: 2rem; // Adjust size as needed
  color: #fff; // Color of the arrows
  z-index: 10; // Ensure arrows are on top

  &:hover {
    color: #ccc; // Change color on hover
  }
}
.arrow-left {
  left: 10px; // Position from the left
}

.arrow-right {
  right: 10px; // Position from the right
}
